.idea/
sql/
run_travis.sh
.venv/
.spyproject/
*__pycache__/
tiles2/
*.log
openelevationservice/server/ops_settings.yml
test.py
*.tif
*.hdr
*.tfw

# Docs
docs/build

# PyPI
dist/
*egg-info/
*.in
build/

# gRPC
grpc/node_modules/
grpc/node_dist/
