registry=https://registry.yarnpkg.com/
+registry=https://registry.npmjs.org
@propagamap:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
always-auth=true